body{
    background-color: yellow;
}
.box{
    list-style: none;
    background: rgb(17, 240, 17);
    height: 90px;
    width: 90px;
}
div.replicate{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.box1{
    transition: width 2s;
}
.box1:hover{
    width: 300px;
}

.box2{
    transition: width 2s, height 2s;
}
.box2:hover{
    width: 300px;
    height: 300px;
}

.box3{
    transition: width 2s linear;
}
.box3:hover{
    width: 300px;
}

.box4{
    transition: width 2s ease;
}
.box4:hover{
    width: 300px;

}

.box5{
    transition: width 2s ease-in;
}
.box5:hover{
    width: 300px;

}

.box6{
    transition: width 2s ease-out;
}
.box6:hover{
    width: 300px;

}

.box7{
    transition: width 2s ease-in-out;
}
.box7:hover{
    width: 300px;

}
